<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="">
    <resultMap id="" type="">
        <id column="" property="" />
        <result column="" property=""/>
    </resultMap>

    <select id="selectAll" resultMap="">
    </select>
    <select id="selectById" resultMap="">
    </select>
    <insert id="insert" parameterType="">
    </insert>
    <update id="update" parameterType="">
    </update>
    <delete id="deleteById" parameterType="">
    </delete>
</mapper>